@model ProjektRestauracja.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurant Reservation System</title>
    <link href="~/css/stylesReservations.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1>Edit</h1>

        <h4>Reservation</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="ReservationDate" class="control-label"></label>
                        <input asp-for="ReservationDate" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        <span asp-validation-for="ReservationDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ReservationTime" class="control-label"></label>
                        <input asp-for="ReservationTime" class="form-control" type="time" min="08:00" max="23:00" />
                        <span asp-validation-for="ReservationTime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NumberOfPeople" class="control-label"></label>
                        <input asp-for="NumberOfPeople" class="form-control" min="1" />
                        <span asp-validation-for="NumberOfPeople" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
